/*fonts*/
body{
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*Header*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#background-color{
    background-color: #fdeef1;
}
.head-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.head-title{
    font-size: 80PX;
    font-weight: bolder;
    width: 708PX;
    color: #272727;
    margin-bottom: 25px;
}
.head-description{
    font-size: 18PX;
    width: 634PX;
    color: #272727;
    margin-bottom: 30px;

}
.btn-primary{
    font-size: 20PX;
    color: white;
    background-color:#E55473 ;
    border: none;
    border-radius: 5PX;
    height: 64PX;
    width: 179PX;
    margin-top: 0;
}
.head-img{
    height: 800PX;
    width: 635PX;
    margin-top: 50px;
}

/*Our Featured Flowers*/
.flower-total-container{
    margin-top: 150px;
}
.text-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-featured-flower{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.description-featured-flower{
    font-size: 18px;
    width: 594px;
    height: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.img-container{
    display: flex;
    justify-content: center;
    
}
.img-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-flower-1{
    height: 428px;
    width: 310px;
}
.img-flower-2{
    height: 370px;
    width: 370px;
}
.img-flower-3{
    height: 471px;
    width: 314px;    
}
.img-flower-div-1{
    background-color: #f1dde8;
    height: 564px;
    width: 438px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 10px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}
.img-flower-div-2{
    background-color: #daeff0;
    height: 564px;
    width: 438px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}
.img-flower-div-3{
    background-color: #e3ecdb;
    height: 564px;
    width: 438px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 10px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;

}
.flower-name{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

/*ur Featured Flowers Second Section*/
.Our-Featured-Flowers-Second-Section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 320px;
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 150px;
}
.icon-section-box{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 88px;
    width: 88px;
}
.icon-description{
    font-size: 24px;
    text-align: center;
}

/*Sale section*/
.Sale-section{
    margin-top: 150px;
    background-color: #fcf6f8;
}

.sale-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 100px 0px;
}
.sale-title{
    font-size: 40px;
    font-weight: 900;
}

span{
    color: #E55473;
}
.sale-description{
    font-size: 18px;
    color: gray;
    text-align: center;
    width: 594px;
    height: 60px;
}
.btn-sign-up{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #E55473;
    border-radius: 10px;
    border: none;
    height: 64px;
    width: 155px ;
}
.description-container{
    width: 594px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-size{
    width: 318px;
    height: 420px;
}
.description-container{
    padding-right: 50px;
}
.image-container{
    padding-left: 50px;
}

/*instagram Images*/
.instagram-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.instagram-title{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.instagram-description{
    font-size: 18px;
    color: gray;
    width: 594px;
    height: 60px;
    text-align: center;
}
.insta-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-insta-size{
    height: 396px;
    width: 342px;
    padding: 10px;
}

/*Cupon*/
.btn-subscribe{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #E55473;
    border-radius: 10px;
    border: none;
    height: 64px;
    width: 150px ;
    margin: 0px 5px;
}
.cupon-email{
    height: 64px;
    width: 700px ;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: gray;
    margin: 0px 5px;
}
.cupon-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.cupon-container{
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 449px;
}

/*Footer*/
.footer-container{
    background-color: #111010;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-title{
    font-size: 48px ;
    font-weight: 900;
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

.footer-description{
    font-size: 18px;
    color: white;
    width: 625px;
    text-align: center
}
.footer-terms{
    font-size: 16px;
    color: #43545e;
    text-align: center;
}